body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #00f490, #00bbc9);

}

h1 {
    font-family: 'Abril Fatface', cursive;

}



.jumbotron {
    background-color: #00f48e00;
}


.lead {
    color: #fff;
    font-size: 2.2rem;

}


.btn-outline-color {
    border-color: #fff;

}


.btn-outline-color:hover {
    background-color: rgba(255, 255, 255, 0.336);
}